## Data Cleaning Spotify Dataset

In [88]:
#import libraries
import pandas as pd

In [89]:
#loading csv dataset into Dataframe named songs
songs=pd.read_csv('songs_normalize.csv')

### Exploring the Dataset

In [90]:
songs.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,pop
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,"rock, pop"
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,"pop, country"
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,"rock, metal"
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,pop

In [91]:
#returns the number of rows and columns in the dataframe
songs.shape

(2000, 18)

There are 2000 total rows and 18 columns

In [92]:
#returns the column names of the dataframe
songs.columns

Index(['artist', 'song', 'duration_ms', 'explicit', 'year', 'popularity',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'genre'],
      dtype='object')

In [93]:
#descriptive statistics
songs.describe()

,duration_ms,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo
count,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,228748.124500,2009.49400,59.872500,0.667438,0.720366,5.378000,-5.512434,0.553500,0.103568,0.128955,0.015226,0.181216,0.551690,120.122558
std,39136.569008,5.85996,21.335577,0.140416,0.152745,3.615059,1.933482,0.497254,0.096159,0.173346,0.087771,0.140669,0.220864,26.967112
min,113000.000000,1998.00000,0.000000,0.129000,0.054900,0.000000,-20.514000,0.000000,0.023200,0.000019,0.000000,0.021500,0.038100,60.019000
25%,203580.000000,2004.00000,56.000000,0.581000,0.622000,2.000000,-6.490250,0.000000,0.039600,0.014000,0.000000,0.088100,0.386750,98.985750
50%,223279.500000,2010.00000,65.500000,0.676000,0.736000,6.000000,-5.285000,1.000000,0.059850,0.055700,0.000000,0.124000,0.557500,120.021500
75%,248133.000000,2015.00000,73.000000,0.764000,0.839000,8.000000,-4.167750,1.000000,0.129000,0.176250,0.000068,0.241000,0.730000,134.265500
max,484146.000000,2020.00000,89.000000,0.975000,0.999000,11.000000,-0.276000,1.000000,0.576000,0.976000,0.985000,0.853000,0.973000,210.851000

### Dropping Outlier Years

According to the dataset, it should only include songs from 2000-2019. But the min year is 1998 and max is 2020, we need to fix that

In [94]:
#looking at all the unique year values in sorted order
sorted(songs.year.unique())

[1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

In [95]:
#finding songs in the year 1998,1999, 2020 that don't belong in the dataset.
songs.loc[((songs.year==1998) | (songs.year==1999) | (songs.year==2020))].shape

(42, 18)

There are 42 rows of data

In [96]:
#dropping the songs with the years 1998, 1999 and 2020 since they don't belong in the dataset
songs=songs.loc[~((songs.year==1998) | (songs.year==1999) | (songs.year==2020))]

In [97]:
sorted(songs.year.unique())

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019]

Check number of rows match up to see if we dropped the rows properly.

In [98]:
songs.shape

(1958, 18)

2000-42=1958, so no problems

### Checking for Nulls

In [99]:
#checking for total number of nulls from each column
songs.isnull().sum()

artist              0
song                0
duration_ms         0
explicit            0
year                0
popularity          0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
genre               0
dtype: int64

There are no null values in any of the columns, that's good

### Checking for Duplicates

In [100]:
#checking for total number of duplicates
songs.duplicated().sum()

59

There are 59 rows of duplicates

In [101]:
#dropping the duplicates
songs.drop_duplicates(inplace=True)

Checking the number of rows to see duplicates were properly dropped

In [102]:
songs.shape

(1899, 18)

1958-59=1899, no problems

### Checking for Proper Data Types

In [103]:
#looking at data types of each column
songs.dtypes

artist               object
song                 object
duration_ms           int64
explicit               bool
year                  int64
popularity            int64
danceability        float64
energy              float64
key                   int64
loudness            float64
mode                  int64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
genre                object
dtype: object

Datatype for each column make sense

### Changing song duration column from ms to mins

Looking at the song duration in miliseconds is confusing. So we will change them to minutes instead and create a new column

In [104]:
#descriptive statistics of song_duration_ms column
songs.duration_ms.describe()

count      1899.000000
mean     228123.525540
std       39116.687604
min      113000.000000
25%      203273.000000
50%      222920.000000
75%      247086.000000
max      484146.000000
Name: duration_ms, dtype: float64

In [105]:
#creating a new column for duration in minutes and droppping the duration in ms column
songs['duration_mins']=songs['duration_ms'].apply(lambda x: x/60000)
songs['duration_mins']=songs['duration_mins'].apply(lambda x: round(x, 2))
songs=songs.drop('duration_ms',axis=1)

In [106]:
#descriptive statistics of songs_duration_mins column
songs.duration_mins.describe()

count    1899.000000
mean        3.802070
std         0.652115
min         1.880000
25%         3.390000
50%         3.720000
75%         4.120000
max         8.070000
Name: duration_mins, dtype: float64

New duration_mins column makes more sense

### Dropping Irrelevant Columns

In [107]:
songs.columns

Index(['artist', 'song', 'explicit', 'year', 'popularity', 'danceability',
       'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo', 'genre',
       'duration_mins'],
      dtype='object')

In [108]:
#dropping explict,key,mode and liveness columns because I won't need them for my analysis
songs=songs.drop(['explicit','key','mode','liveness','loudness','speechiness','acousticness','instrumentalness','tempo'
                  ,'energy'],axis=1)

In [109]:
songs.columns

Index(['artist', 'song', 'year', 'popularity', 'danceability', 'valence',
       'genre', 'duration_mins'],
      dtype='object')

### Capitalizing the First Letter of the Column Names

In [110]:
songs.head()

,artist,song,year,popularity,danceability,valence,genre,duration_mins
0,Britney Spears,Oops!...I Did It Again,2000,77,0.751,0.894,pop,3.52
3,Bon Jovi,It's My Life,2000,78,0.551,0.544,"rock, metal",3.74
4,*NSYNC,Bye Bye Bye,2000,65,0.614,0.879,pop,3.34
6,Eminem,The Real Slim Shady,2000,86,0.949,0.760,hip hop,4.74
7,Robbie Williams,Rock DJ,2000,68,0.708,0.861,"pop, rock",4.31

In [111]:
#function to capitalize first letter of each column name
def capitalize_first_letter(string):
    return string.capitalize()
#applying the function to the columns
songs=songs.rename(columns=capitalize_first_letter)

In [112]:
songs.head()

,Artist,Song,Year,Popularity,Danceability,Valence,Genre,Duration_mins
0,Britney Spears,Oops!...I Did It Again,2000,77,0.751,0.894,pop,3.52
3,Bon Jovi,It's My Life,2000,78,0.551,0.544,"rock, metal",3.74
4,*NSYNC,Bye Bye Bye,2000,65,0.614,0.879,pop,3.34
6,Eminem,The Real Slim Shady,2000,86,0.949,0.760,hip hop,4.74
7,Robbie Williams,Rock DJ,2000,68,0.708,0.861,"pop, rock",4.31

### Changing the Order of the Columns

In [116]:
#creating desired column order in a list
column_order=['Artist','Song','Year','Genre','Duration_mins','Popularity','Danceability','Valence']

In [117]:
column_order

['Artist',
 'Song',
 'Year',
 'Genre',
 'Duration_mins',
 'Popularity',
 'Danceability',
 'Valence']

In [118]:
#applying column order to the dataframe
songs=songs[column_order]

In [119]:
songs

,Artist,Song,Year,Genre,Duration_mins,Popularity,Danceability,Valence
0,Britney Spears,Oops!...I Did It Again,2000,pop,3.52,77,0.751,0.894
3,Bon Jovi,It's My Life,2000,"rock, metal",3.74,78,0.551,0.544
4,*NSYNC,Bye Bye Bye,2000,pop,3.34,65,0.614,0.879
6,Eminem,The Real Slim Shady,2000,hip hop,4.74,86,0.949,0.760
7,Robbie Williams,Rock DJ,2000,"pop, rock",4.31,68,0.708,0.861
...,...,...,...,...,...,...,...,...
1995,Jonas Brothers,Sucker,2019,pop,3.02,79,0.842,0.952
1996,Taylor Swift,Cruel Summer,2019,pop,2.97,78,0.552,0.564
1997,Blanco Brown,The Git Up,2019,"hip hop, country",3.34,69,0.847,0.811
1998,Sam Smith,Dancing With A Stranger (with Normani),2019,pop,2.85,75,0.741,0.347
1999,Post Malone,Circles,2019,hip hop,3.59,85,0.695,0.553

In [120]:
#resetting index values so they are properly ordered
songs=songs.reset_index(drop=True)

In [121]:
songs

,Artist,Song,Year,Genre,Duration_mins,Popularity,Danceability,Valence
0,Britney Spears,Oops!...I Did It Again,2000,pop,3.52,77,0.751,0.894
1,Bon Jovi,It's My Life,2000,"rock, metal",3.74,78,0.551,0.544
2,*NSYNC,Bye Bye Bye,2000,pop,3.34,65,0.614,0.879
3,Eminem,The Real Slim Shady,2000,hip hop,4.74,86,0.949,0.760
4,Robbie Williams,Rock DJ,2000,"pop, rock",4.31,68,0.708,0.861
...,...,...,...,...,...,...,...,...
1894,Jonas Brothers,Sucker,2019,pop,3.02,79,0.842,0.952
1895,Taylor Swift,Cruel Summer,2019,pop,2.97,78,0.552,0.564
1896,Blanco Brown,The Git Up,2019,"hip hop, country",3.34,69,0.847,0.811
1897,Sam Smith,Dancing With A Stranger (with Normani),2019,pop,2.85,75,0.741,0.347
1898,Post Malone,Circles,2019,hip hop,3.59,85,0.695,0.553

In [122]:
#exporting cleaned dataset to a csv file
songs.to_csv('cleaned_spotify.csv',index=False)